<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/citizens-bank-logo-1-logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CITIZENS BANK </h3>
    <ul>
      <li>Jan 2016 – Oct 2016</li>
    </ul>
    <p>Contributed as focal of the team for integration of software patch and testing product function in UAT and DEV.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/national_bank_canada.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> NATIONAL BANK OF CANADA </h3>
    <ul>
      <li>Jul 2015 – Dec 2015</li>
    </ul>
    <p>Contributed as a key member of the team for testing product function and integration of product modules in UAT and DEV.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
